---
import ContentSplitImg from "./ContentSplitImg.astro";
---

<!-- 1) HEADLINE (CLEAR VALUE) --><!-- 2) SUB HEADLINE (WHO ITS FOR AND HOW) --><!-- 3) PRIMARY CTA -->
<section id="hero" class="bg- px-5">
  <ContentSplitImg
    attentionParagraph="Cozy, high-converting websites for small businesses"
    interestParagraph=" I design and build fast, modern websites that help small businesses look more professional,"
    desireParagraph=" all without the tech headache."
    actionParagraph="I've done all the over thinking with building sites... so you don't have to! "
    img="https://dl.dropboxusercontent.com/scl/fi/70vb22ili62cxkbtgvfh3/jake23.jpg?rlkey=sa19u5pn1dz8y2t0j6qhd66s7&st=2fpuldog&dl=0"
    img2=""
  />
</section>
